.modal-layer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(128, 128, 128, 0.6);
}

.modal-root {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, .2);
  background-color: white;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 300px;
  padding: 1rem;
  border-bottom: 1px solid #e9ecef;
  font-weight: 700;
  font-size: 22px;
}

.modal-body {
  padding: 1rem;
}

.close-btn {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  cursor: pointer;
}

/* Winner Modal */

.winner__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* width: 300px; */
  max-width: 350px;
  background-color: rgba(0, 0, 0, 0.75);
  color: #ffffff;
  border: 5px solid #ca9650;
  font-size: 30px;
}

.winner__info p {
  margin-top: 0;
  margin-bottom: 10px;
}

.winner__info_name {
  color: red;
}

.winner__info_img {
  max-width: 80px;
  height: 150px;
}

/* .winner__info_health {
  
}

.winner__info_defense {
  
}

.winner__info_attack {
  
} */

