.preview-container___root {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
}

.preview-container___versus-block {
  display: flex;
  flex-direction: column;
  margin: 0 50px;
  align-items: center;
  justify-content: center;
}

.preview-container___versus-img {
  width: 130px;
}

.preview-container___fight-btn {
  padding: 8px 35px;
  justify-self: right;
  text-align: center;
  background: #ba0303;
  margin: 40px 0;
  color: #f8f9f4;
  font-size: 22px;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 6px 6px 7px 0px rgba(0, 0, 0, 0.75);
}

.preview-container___fight-btn.disabled {
  opacity: 0;
}

/* Fighter Preview info*/
.fighter-preview__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  max-width: 250px;
  height: 270px;
  background-color: rgba(0, 0, 0, 0.75);
  color: #ffffff;
  border: 5px solid #ca9650;
}

.fighter-preview__info_img {
  max-width: 150px;
  height: 150px;
}

.fighter-preview__info_choose {
  font-size: 50px;
}

.fighter-preview__info p {
  margin-top: 0;
  margin-bottom: 10px;
}

.fighter-preview__info_name {
  font-size: 20px;
}

/* .fighter-preview__info_health {

}

.fighter-preview__info_defense {

}

.fighter-preview__info_attack {

} */
